body {
  font-family: Arial;
  margin: 0;
  background: #f5f5f5;
}

header {
  background: #2ecc71;
  color: white;
  text-align: center;
  padding: 15px;
}

nav a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
  text-align: center;
}

.producto {
  background: white;
  margin: 15px auto;
  padding: 15px;
  width: 200px;
  border-radius: 10px;
}
